@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.player-title {
  display: flex;
  justify-content: center;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.play-list {
  text-align: left;
}

.play-item {
  display: flex;
  gap: 5px;
  margin-bottom: 3px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: url('../assets/svg/mini-play.svg');;
}

.item-active::before {
  content: url('../assets/svg/mini-pause.svg');

}

.player-icon,
.slider-icon,
.change-quote,
.settings,
.todo  {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings:hover,
.todo:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings:active,
.todo:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}


.volume {
  background-image: url('../assets/svg/volume.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.volumeOff {
  background-image: url('../assets/svg/volumeoff.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.trackTime {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: white;
  width: 100%;
  border-radius: 30px;
}
#volume-bar {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: white;
  width: 60%;
  border-radius: 30px;
}

#volume-bar::-webkit-slider-thumb,
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  height: 10px;
  width: 5px;
  border: 0;
  background: skyblue;
  border-radius: 30px;
  cursor: pointer;
}
#volume-bar::-webkit-slider-runnable-track,
#progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
}

#progress-bar:focus {
  outline: none;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  max-width: 100%;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px 20px 10px 20px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings {
  background-image: url('../assets/svg/settings.svg');
  z-index: 3;
}

.todo {
  background-image: url(../assets/svg/todo.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  z-index: 3;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.gitgub {
  width: 32px;
  height: 32px;
  background-image: url(../assets/svg/github.svg);
  background-size: cover;
}

.rsschool{
  width: 38px;
  height: 32px;
  background-image: url(../assets/svg/logo-rs.svg);
  background-size: cover;
}

.all {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.settings-window {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 200px;
  height: 300px;
  background-color: black;
  opacity: 0.9;
  border-radius: 25px;
  transition: 0.4s all ease-out;
  transform: translateX(-100%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.settings-wraper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
  margin-top: 20px;
}

.settings_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.settings-select {
  width: 60px;
  height: 20px;
}
.source-tag {
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.source-tag::placeholder {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  opacity: 0.6;
  color: #fff;
}
.settings-window__on {
  transform: translateX(0%);
}


.todo-window{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 200px;
  min-height: 300px;
  background-color: black;
  opacity: 0.9;
  border-radius: 25px;
  transition: 0.4s all ease-out;
  transform: translateX(100%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.todo-window__on {
  transform: translateX(0%);
}
.todo-wraper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
  margin-top: 20px;
}

.todo-select {
  width: 100%;
  height: 20px;
}

.todo-list {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 200px;
  width: 150px;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  border: 0;
  outline: 0;
  word-break: break-all;
  cursor: pointer;
}

.list-item-done {
  text-decoration: line-through;
}

.todo-text {
  width: 100%;
  height: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.unhidden {
  visibility: visible;
  opacity: 1;
  transition: all ease 0.5s;
  pointer-events: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  pointer-events: none;
}

.list_off {
  display: none;
}
.list_on {
  display: flex;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
